<div class="nav">
   
    <div class="line"></div>
    <nav class="nav-bar">
        <div class="nav-div">
            <div class="logo-img">
                <div class="logo"><a href="#">Arabian</a></div>
                <ul>
                    <li><a href="/fullmenu">Menu</a></li>
                    <li><a href="#footerrr">About Us</a></li>
                </ul>
            </div>
           
            <div class="user-cart">
                <div class="dropdown">
                    <i class="fas fa-user"></i>
                    <div class="btn">
                       <button class="signupA">Sign up</button>
                       <button class="loginA">Log in</button>
                    </div>
                </div>
                <div class="cart">
                  <a href="/cart"><i class="fas fa-shopping-cart cart-icon"></i></a>
                  <div class="cart-value">0</div>  
                </div>
            </div>
        </div>
    </nav>

</div>

<nav class="order-bar">
    <p class="order-par">Place Your Order</p> 
</nav>

