<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" 
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik+Wet+Paint&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Imperial+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Permanent+Marker&family=Rubik+Wet+Paint&display=swap" rel="stylesheet">
    <title>Arabian.com</title>
</head>
<body id="main-body">

<div class="nav">
   
    <div class="line"></div>
    <nav class="nav-bar">
        <div class="nav-div">
            <div class="logo-img">
                <div class="logo"><a href="#">Arabian</a></div>
                <ul>
                    <li><a href="/fullmenu">Menu</a></li>
                    <li><a href="#footerrr">About Us</a></li>
                </ul>
            </div>
           
            <div class="user-cart">
                <div class="dropdown">
                    <i class="fas fa-user"></i>
                    <div class="btn">
                       <button class="signupA" onclick="location.href='/signup';">Sign up</button>
                       <button class="loginA" onclick="location.href='/login';">Log in</button>
                    </div>
                </div>
                <div class="cart">
                  <a href="/cart"><i class="fas fa-shopping-cart cart-icon"></i></a>
                  <div class="cart-value">0</div>  
                </div>
            </div>
        </div>
    </nav>

</div>

    <nav class="order-bar">
        <p class="order-par">Place Your Order</p> 
    </nav>
    <%= successMsg %>
    <%= failureMsg %>
    <!-- body -->

    <div class="scrolling">
    <img src="/pizzascrollimg.jpg" alt="" class="pizzascroll">
    </div>

    <h2 class="heading">BROWSE CATEGORIES</h2>
    

    <div class="categories">
        <div class="list pizza" onclick="window.location.href = '/fullmenu/#pizza';"><a href=""><h2>PIZZA</h2></a></div>
        <div class="list burger" onclick="window.location.href = '/fullmenu/#burger';"><a href=""><h2>BURGER</h2></a></div>
        <div class="list sandwich" onclick="window.location.href = '/fullmenu/#sandwich';"><a href=""><h2>SANDWICH</h2></a></div>
        <div class="list wraps" onclick="window.location.href = '/fullmenu/#wrap';"><a href=""><h2>WRAPS</h2></a></div>
    <!-- </div> -->

    <!-- <div class="categories"> -->
        <div class="list rolls" onclick="window.location.href = '/fullmenu/#roll';"><a href=""><h2>ROLLS</h2></a></div>
        <div class="list starters" onclick="window.location.href = '/fullmenu/#starter';"><a href=""><h2>STARTERS</h2></a></div>
        <div class="list clubsandwich" onclick="window.location.href = '/fullmenu/#drink';"><a href=""><h2>SHAKES</h2></a></div>
        <div class="list fullmenu" onclick="window.location.href = '/fullmenu';"> <a href="/fullmenu">ARABIAN MENU</a></div>
    </div>


    <!-- combo offer scroll menu -->
<div class="background-scroll">
    <div class="scroll-menu">
      <img src="/back.png" id="backBtn">
        <div class="scroll-items js-scroll-items" id="scrollItems">
            <div class="quote1">
                <p class="quote">"The best pizza in town is at Pizza Palace!"</p>
            </div>
            <div class="quote1">
                <p class="quote">"Pizza Palace is the best place to grab a quick bite!"</p>
           </div>
           <div class="quote1">
            <p class="quote">"Pizza Palace has the best deals in town!"</p>
       </div>
       <div class="quote1">
        <p class="quote">"Pizza Palace is the best place to grab a quick bite!"</p>
   </div>
        </div>
        <img src="/next.png" id="nextBtn">
    
</div>
</div>
<div class="line2"></div>


   
    <div class="footer" id="footerrr">
        <div class="about-sec">
           <div class="aboutArabian">
            <a>Arabian India</a>
            <a>About Arabian</a>
            <a>Legal</a>
            <a>Privacy Policy</a>
           </div>
           <div class="aboutArabian">
            <a>Disclaimer</a>
            <a>Arabian Food</a>
            <a>Menu</a>
            <a>Support</a>
        </div>
        <div>
            <a>Arabian Feedback</a>
            <a>Get Help</a>
            <a>Privacy Policy</a>
            <button><i class="fa-solid fa-phone"></i>Call Us 123-456-789</button>
        </div>
           
        </div>
        <div class="social-media-footer">
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
        </div>
        <div class="footer-botton">
            <p>Copyright &copy;2022; Designed by <span class="dev">Developer</span></p>
        </div>

    </div>


    <script src="/data.js"></script>
    <script src="/home.js"></script>
</body>
</html>